@font-face {
  font-family: 'TisaPro';
  font-weight: normal;
  src: url('../fonts/TisaPro-Med.otf');
}

@font-face {
  font-family: 'TisaPro';
  font-weight: bold;
  src: url('../fonts/TisaPro-Bold.otf');
}