@font-face {
  font-family: 'TisaPro';
  font-weight: normal;
  src: url('../fonts/TisaPro-Med.otf');
}

@font-face {
  font-family: 'TisaPro';
  font-weight: bold;
  src: url('../fonts/TisaPro-Bold.otf');
}

@font-face {
  font-family: 'Averta';
  font-weight: bold;
  src: url('../fonts/Averta.otf');
}

@font-face {
  font-family: 'MaisonNeueBook';
  font-weight: normal;
  src: url('../fonts/MaisonNeueBook.otf');
}

@font-face {
  font-family: 'MaisonNeueMedium';
  font-weight: bold;
  src: url('../fonts/MaisonNeueMedium.otf');
}