.landing {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__content {
    width: 30%;
  }

  &__left {
    width: 50%;
    height: 100vh;
    display: block;
    position: absolute;
    left: 0;
    background: linear-gradient(#2948FF, #2996F8);
  }

  &__title_left {
    font-size: 80px;
    font-family: Averta, arial;
    color: white;
    text-transform: uppercase;
    margin-top: 3em;
    margin-left: 1em;
    text-align: left;
    word-spacing: 99999999px;
  }

  &__right {
    text-align: center;
    width: 50%;
    height: 100vh;
    margin-left: 50%;
  }
  
  &__logo {
    display: inline-block;
    width: 290px;
    margin-top: 160px;
  }

  &__text {
    margin: 0 auto;
    width: 345px;
    margin-top: 50px;
    color: $txt-grey;
    line-height: 1.5;
    font-weight: 800;
    font-size: 18px;
    text-align: left;
  }

  &__text2 {
    margin: 0 auto;
    width: 345px;
    margin-top: 20px;
    color: $txt-grey;
    line-height: 1.5;
    font-size: 18px;
    text-align: left;
  }


  &__button:hover {
    background: #2588E1;
    cursor: pointer;
  }

}
